<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <display-name>AutomatedTest</display-name>

    <servlet>
        <display-name>Automated Test Servlet</display-name>
        <servlet-name>AutomatedTest</servlet-name>
        <servlet-class>org.genepattern.modules.AutomatedTestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AutomatedTest</servlet-name>
        <url-pattern>/AutomatedTest/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/index.xhtml</welcome-file>
    </welcome-file-list>
    
</web-app>
